/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/*#profile-icon {
  position: absolute;
  top: 0;
  right: 0;
}*/


@media screen and (min-width: 767px) and (max-width: 810px) {
    .carousel-inner .carousel-item img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}


/* Règles pour les écrans plus petits ou égaux à 815px */
@media screen and (max-width: 815px) {
    .carousel-inner .carousel-item img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
/* Règles pour les écrans plus petits ou égaux à 910px */
/* Règles pour les écrans plus petits ou égaux à 820px */
@media screen and (max-width: 820px) {
    .carousel-inner .carousel-item img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

/* Règles pour les écrans plus grands que 820px et plus petits ou égaux à 910px */
@media screen and (min-width: 821px) and (max-width: 910px) {
    .carousel.slide {
        position: relative;
    }
    .carousel-inner .carousel-item img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }
}

/* Règles pour les écrans plus grands que 910px */
@media screen and (min-width: 911px) {
    .carousel-inner .carousel-item img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
    }
}

/* .large-margin {
    margin-left: 100px;
} */

.centered-nav-items {
    text-align: center;
}

.centered-nav-items .nav-item {
    display: inline-block;
}

.garage-text {
    color: #531429;
    padding-left: 10%;
}

.custom-color {
    color: #430d25;
    padding-left: 10%;
}

.nav-item-text {
    color: #aa4672;
    font-size: 2rem; 
    margin-right: 140px;   
}

/* .nav-container {
    margin-bottom: 50px;
}   avant s'appliquait plus maintenant même en vidant le cache ctrl+5 ou maintient souris sur flèche refresh et vider */ 

.custom-select {
    border: none;
    color: #aa4672;
    outline: none;
    cursor: pointer;
    margin-right: 50px;
    background-repeat: no-repeat;
    background-position: right center;
    min-width: 275px;  
    font-size: 20px;  
}

.profile-icon-container {
	position: relative; 
}

/* .profile-icon {
	width: 50px; 
	height: 50px; 
	border-radius: 50%;  
} */


.navbar-brand {
    padding-left: 5%;
    padding-bottom: 5%;
}

.custom-select:focus {
    box-shadow: none; /* Supprime l'ombre lorsqu'il est en focus */
}

.navbar-custom {
    background-color: white;
}

.bg-custom {
    background-color: #6d6d6d !important;
}

.height-custom {
    min-height: 200px;
}

.garage-text {
    font-size: 350%;
}

span#custom-color { /* c'était pour forcer la couleur */
    color: #430d25;
}

#marque {
    position: relative;
    z-index: 3;
}

#reparations {
    position: relative;
    z-index: 3;
}

.row {
    padding-top: 80px !important; /* Mettre de l'espace entre le titre fonctionne dans l'inspecteur sur le style BS mais pas dans un style CSS personnalisé */
}

.custom-link {
    text-decoration: none; 
    color: #aa4672; 
    font-size: 20px; /*bizarre aucun effet comme les deux autres propriétés de la même classe, puis d'un coup ça marche ! */
}

.image-container {
  display: inline-block; /* Pour afficher les divs en ligne */
  margin-right: 10px;  /*Espace entre les images*/ 
}

/* Partie des card qui se retournent */

/* .container {
    width: 100%;
    margin: auto;
    max-width: 100%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat auto-fill, minmax(350, 1fr);
    grid-row: 30px;
    margin: 80px auto;
}

.card-wrapper {
    position: relative;
    min-height: 200px;
    perspective: 1000px; /*perception de profondeur d'u élément par rapport au 1er plan et arrière plan 3D*/
    /*perspective-origin: top; /* Définie le point à partir duquel je regarde la scène en 3D, créée par la perspective

.card-wrapper:hover .card {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);/* la transition je la veux sur mon transform decard wrapper:hover


.card-front,
.card-back {
    position: absolute;
    border-radius: 8px;
    backface-visibility: hidden; /*généralement utilisée avec les transformations 3D pour gérer l'affichage du dos d'un élément.ATTENTION hidden rends invisible l'arrièrede la face pr front et vis versa pour back*/
    /*-webkit-backface-visibility: hidden; /*Pour Chrome, Safari, sinon fonctionne pas


.card-front {
    background-color: #008497;
    display: flex;
    justify-content: space-between;
}

.card-back {
    background-color: #06c2db;
    transform: rotateY('180deg');/*card front et back plus haut en position absolute, donc les uns au dessus des autres, notamment avec le dernier élément qui a été déclaré, card back qui se met tjrs au dessus de card front et donc je le voit tt le tps rotate card back pr ne plus voir sa partie arrière grâce à backface-visibility: hidden;*/



.col-sm-4 {
    width:33%;
    display:inline-flex;
}
.col-lg-3{width:25%}
.vignette-v2 .annonce .prix{
	font-size: 3.1rem;
}

.vignette-v2 .annonce .prix_loyer_m{
	display: block;
}

.vignette-v2 .a_version{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.vignette-v2 .annonce .prix_loyer{
	font-size: 1.8rem;
}

.vignette-v2 .annonce .prix_loyer strong{
	font-size: 2.1rem;
}

.vignette-v2 .annonce .annonce_badges div{
	display: inline-block;
	margin: 0 .3rem;
}

.vignette-v2 .annonce .badge_vo{
	box-shadow: none;
	font-size: .9rem;
	margin: 0;
	padding: .5rem .5rem;
}

.vignette-v2 .annonce{
	padding-bottom: 0;
}

.vignette-v2 .annonce-icons{
	border-bottom: 1px solid #dedede;
	padding: .7rem 0;
	text-align: center;
}

.vignette-v2 .annonce .annonce_contenu{
	padding-top: .7rem;
}

.vignette-v2 .annonce-ico {
    margin: 0 1rem;
    font-size: 1.7rem;
    white-space: nowrap;
}

.vignette-v2 .annonce .btn-voir,
.vignette-v2 .annonce .visuel_conteneur{
	margin: 0;
}

.vignette-v2 .annonce .visuel_conteneur{
	margin-top: 25%;
}

.vignette-v2 .annonce .annonce_badges{
	border-bottom: 1px solid #dedede;
	padding: .7rem 0;
	left: auto;
	right: auto;
	top: auto;
	position: relative;
}

.vignette-v2 .annonce{
	margin-bottom: 4rem;
}

.vignette-v2 .annonce_contenu p{
	margin-bottom: 0;
	padding-bottom: .75rem;
}

.vignette-v2 .annonce_contenu p:after{
	clear: both;
	content:  ' ';
	display: block;
}

.vignette-v2 .annonce h2 a.alerte-annonce{
	right: 0;
}

.vignette-v2 .container-page .annonce h2 span.h2-marque{
	white-space: nowrap;
}

.vignette-v2 .annonce_badges_c_empty{
	height: 4rem;
}

.vignette-v2 .badge_ce{
	border-radius: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}
	.vignette-v2 .annonce-ico{
		margin: 0 .4rem;
		font-size: 1.4rem;
	}
		
	.vignette-v2 .annonce .prix_loyer{
		font-size: 1.5rem;
	}

	.vignette-v2 .annonce .prix_loyer strong{
		font-size: 1.8rem;
	}

	.container-page .vignette-v2 .annonce h2 .h2-marque{
		font-size: 1.9rem;
	}

	.container-page .vignette-v2 .annonce h2{
		font-size: 1.4rem;
	}

    .container-page {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .col-sm-6 h1{
	font-size:4rem;
	padding-right:10rem;
	padding-top:0;
}

.well, .well-color{
	border: 1px solid #e6e6e6;
    padding: 2rem;
    box-shadow: 0 0 15px rgb(200 200 200 / 50%);
}

.prix {
    color:#008497;
	font-size:2.5rem;
	padding-bottom: 0;
}

/* Pour les cards qui se retournent au survole  ET CA CONTINUE RIEN NE FONCTIONNE !!!!! */

.accueil-v2 #nos-engagements-v2{
	background: #fff;
	font-size:2rem;
	padding: 6rem 0;
	position:relative;
}

.accueil-v2 #nos-engagements-v2 .card{
	height: 140px;
	perspective: 1000px;
}

.accueil-v2 #nos-engagements-v2 .card-inner{
	display:block;
	color:#333;
	position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.8s;
    text-align: center;
    transform-style: preserve-3d;
}

.accueil-v2 #nos-engagements-v2 .card:hover .card-inner {
    transform: rotateY(180deg);
}

.accueil-v2 #nos-engagements-v2 .front, .accueil-v2 #nos-engagements-v2 .back {
	background:#fff;
	border: 1px solid #0653b6;
	display:block;
    position: absolute;
	padding: 1rem;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
}

.accueil-v2 #nos-engagements-v2 .back{
	background:#0653b6;
	color:#fff;
	transform: rotateY(180deg);
}

.accueil-v2 #nos-engagements-v2 .back p{
	font-size:1.7rem;
}

.accueil-v2 #nos-engagements-v2 .card span span{
	color: #0653b6;
	display:block;
	font-size:3rem;
	margin-bottom: 1rem;
}

/* horaires footer */

#horaires ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le remplissage par défaut de la liste */
    margin: 0; /* Supprime la marge par défaut de la liste */
}

#horaires ul li {
    margin-bottom: 5px; /* Ajoute de l'espace entre chaque élément de la liste */
    display: flex; /* Utilise la flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Espace également les éléments à l'intérieur de chaque <li> */
}

#horaires {
    text-align: left !important; /* Annule l'alignement centré de Bootstrap mais le garde pr mes cards services */
    width: 100%;
}

