:root {
  --vp-quisommesnous: #6c1e41;
  --vp-votre-vehicule: #6c1e41;
}

body {
  min-width: 600px;
}

DIV.clChoixSelonVeh {
}

DIV.clChoixSelonVeh .titre,
DIV.clEngagements .titre {
  color: var(--vp-quisommesnous);
  padding-bottom: 5%;
}

DIV.clChoixSelonVeh > div > .titre:not(:has(+ DIV > div)) {
  display: none;
}

DIV.clChoixSelonVeh .container-page {
}

DIV.clSelectVehicule,
DIV.clEngagements {
  font-size: 2em;
}

DIV.clEngagements + DIV > .row {
  flex-wrap: inherit;
  width: calc(100% - 40px);
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}

DIV.clEngagements + DIV {
  font-size: 2em;
}
DIV.clEngagements + DIV .card {
  margin: 0px 5px 0px 5px;
}

/* Fabrication d'un système de flip / flop sur hover */
DIV.clEngagements + DIV .card .front {
  display: block;
}

DIV.clEngagements + DIV .card .back {
  display: none;
}

DIV.clEngagements + DIV .card:hover .front {
  display: none;
}

DIV.clEngagements + DIV .card:hover .back {
  display: block;
}

SPAN.front p,
SPAN.back p {
  padding-left: 5%;
  padding-right: 5%;
}

/* class du DIV avec le SPAN fils directement associé et l'adjacent*/
DIV.clDecouvreVehicule > DIV.titre > SPAN + SPAN {
  color: var(--vp-votre-vehicule);
}

DIV.clSelectVehicule > DIV.titre > SPAN + SPAN {
  color: var(--vp-votre-vehicule);
}

DIV.clSelectVehicule > DIV.corps {
  padding-top: 10px;
  display: flex;
  margin: auto;
  align-items: center;
}

DIV.clSelectVehicule > DIV.corps form {
  width: 100%;
  padding-bottom: 30px;
}
DIV.clSelectVehicule > DIV.corps select {
  max-width: 200px;
  display: inline-flex;
  margin-bottom: 20px;
  margin: 10px;
}

/* Style de base pour flexbox */
.container-fluid {
    display: flex;
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center; /* Centrer les éléments verticalement */
}

/* Adapter la taille du logo pour les petits écrans */
.logo-garage img {
    max-width: 100%;
    height: auto;
}

/* Media query pour les écrans de taille moyenne */
@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column; /* Empile les éléments verticalement sur les petits écrans */
        align-items: center; /* Centre les éléments */
    }
    .divCenter {
        margin-bottom: 10px; /* Espacement entre les éléments */
    }
}

/* Media query pour les petits écrans */
@media (max-width: 480px) {
    .garage-text {
        font-size: smaller; /* Réduire la taille du texte */
    }
}


.centered-nav-items {
  text-align: center;
}

.centered-nav-items .nav-item {
  display: inline-block;
}

a {
  text-decoration: none;
}

span.garage-text {
  color: var(--vp-quisommesnous);
}

h1.garage-text {
  color: #531429;
  font-size: 4rem;
  padding-bottom: 10%;
}

.custom-color {
  color: var(--vp-votre-vehicule);
}

.nav-item-text {
  color: #aa4672;
  font-size: 2rem;
  margin-right: 140px;
}

.custom-select {
  border: none;
  color: #aa4672;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right center;
  min-width: 275px;
}

.class p {
  font-family: "Arial", sans-serif; /* Utilisez une police élégante */
  font-size: 18px; /* Ajustez la taille du texte */
  line-height: 1.6; /* Espacement entre les lignes */
  color: #555; /* Couleur du texte */
  margin: 20px 0; /* Espacement autour du paragraphe */
  padding: 20px; /* Espacement à l'intérieur du paragraphe */
  background-color: #fff; /* Couleur d'arrière-plan du paragraphe */
  border: 1px solid #ddd; /* Bordure autour du paragraphe */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre subtile */
}

.navbar-brand.large-margin {
  margin-bottom: 1rem; /* Ajustez cette valeur selon l'espacement souhaité */
}

.divCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Conteneur parent en position relative pr que l'eft bouge sans affecter le texte */
.d-flex {
  position: relative; /* Ajout de la position relative */
}

.profile-icon-container {
  position: absolute; /* Pour positionner l'icône indépendamment */
  right: 0px; /* Ajustez cette valeur si nécessaire */
  top: 0px; /* Pour centrer verticalement */
  z-index: 2;
}

/* @media screen and (min-width: 0px) and (max-width: 800px) {
  .profile-icon-container {
    display: none;
  }
  .carousel-inner .carousel-item img {
    height: 100px !important;
  }
  h1.garage-text {
    font-size: 150%;
  }
  span.garage-text {
    font-size: 100%;
  }
  .nav-item-text {
    font-size: 1rem;
    margin-right: 140px;
  }
  DIV.clSelectVehicule {
    font-size: 1em;
  }

  DIV.clChoixSelonVeh .container-page {
    display: block;
  }
} */

.profile-icon-right {
  margin-left: 10%; /* En CSS personnalisé non plus */
  padding-right: 20%;
}

/*Pour la bande grise : Trouvez votre prochain véhicule */
.custom-select:focus {
  /* box-shadow: none;  */
}

/* Conteneur avec bande grise */
.shadow-sm {
  z-index: 1;
}

.navbar-custom {
  background-color: white;
}

.bg-custom {
  background-color: #999999 !important;
}

.height-custom {
  min-height: 200px;
}

span#custom-color {
  /* c'était pour forcer la couleur */
  color: var(--vp-votre-vehicule);
}

.custom-link {
  text-decoration: none;
  color: #aa4672;
  font-size: 20px; /*bizarre aucun effet comme les deux autres propriétés de la même classe, puis d'un coup ça marche ! */
}

.image-container {
  display: inline-block; /* Pour afficher les divs en ligne */
  margin-right: 10px; /*Espace entre les images*/
}

.col-sm-4 {
  width: 33%;
  display: inline-flex;
}
.col-lg-3 {
  width: 25%;
}

/*Container photos véhicules page accueille */
.container-page {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.col-sm-6 h1 {
  font-size: 4rem;
  padding-right: 10rem;
  padding-top: 0;
}

.prix {
  color: #008497;
  font-size: 2.5rem;
  padding-bottom: 0;
}
/*  Cards */
.card {
  background-color: #ffffff; /* Couleur de fond initiale */
  transition: background-color 0.3s ease; /* Transition douce pour l'effet de survol */
}

.card:hover {
  background-color: #862445; /* Nouvelle couleur de fond lors du survol */
  color: #ddd;
}

/* horaires footer */

.btn-custom {
  background-color: #008497;
  border-color: #22010c;
}

.btn-custom:hover {
  background-color: #73c8d5;
  border-color: #22010c;
}

h3 {
  color: #531429;
}

.h2-marque {
  color: #008497;
}

DIV.clChoixSelonVeh .titre,
DIV.clEngagements .titre {
  color: #862445;
  padding-bottom: 3%;
}

#horaires ul {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

#horaires ul li {
  margin-bottom: 5px;
  display: flex; /* Utilise la flexbox pour aligner les éléments horizontalement */
  justify-content: space-between;
  background-color: #a7d7df;
}

/* Limite la hauteur des images dans le caroussel ATTENTION A l'heritage se trouvant dans boostrap*/
.carousel-inner .carousel-item img {
  height: 300px;
  object-fit: cover; /* Assure que l'image couvre la zone disponible sans se déformer */
}

}

@media screen and (max-width: 999px) {
  .container-page {
    display: block;
  }
}

div.visuel_conteneur + h2 {
  margin-top: 10%;
}

.text-qui {
  font-size: 1.5rem;
}

.col-6 {
    display: flex;
    justify-content: flex-end; /* Aligne le contenu à la fin de la colonne (à droite) */
}

.img_logo {
    /* Ajoutez ici tout style supplémentaire pour votre logo si nécessaire */
}


h1 {
  color: #531429;

}

h2 {
  color: #531429;
  font-size: 2.5rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2ebee;
  color: black;
  padding: 2% 10%;
}

.titre-section {
  text-align: center;
  margin: 80px; /* Retire le margin par défaut pour un centrage précis */
  font-size: 4em;
}

/* @media screen and (max-width: 768px) {
  .row .col-6 {
    flex-basis: 100%; 
  }
} */


.section-wrapper {
  width: 100%; /* Prend toute la largeur */
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; /* Prend toute la largeur */
}
/*  media pour la shadow nos occasions à moins de 20 000€  !!! */
/* @media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
   
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 245px;
    padding-left: 266px;
  }
} */

#temoignages {
  background-color: #6d6d6d;
  height: 600px;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* Ajoutez une largeur maximale si nécessaire */
  max-width: 1200px; /* Exemple de largeur maximale */
  margin: auto; /* Pour centrer */
  padding: 0 15px; /* Padding pour ne pas coller au bord de l'écran */
}

.photo_client {
  width: 100%;
  height: auto; /* Maintient le ratio */
  max-width: 20%; /* Une largeur maximale pour que la photo ne devienne pas trop grande */
  object-fit: cover; /* Coupe l'image pour remplir le conteneur sans la déformer */
  border-radius: 10px; /* Optionnel pour arrondir les bords */
}

/* @media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: stretch; 
  } */

  .photo_client {
    max-width: 100%;
  }
}

.photo_client,
.texte-lorem {
  flex: 1; /* Les deux éléments grandiront et rétréciront de manière égale */
}

.texte-lorem {
  flex: 1 1 10%;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px #008497;
}
/* 
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  } */

  .photo_client,
  .texte-lorem {
    flex-basis: auto;
  }
}

.link-occasions {
  display: block;
  background-color: #008497;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

.vignette-v2 {
  width: 22%;
  min-width: 415px;
}


